.filter-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.filter-section .search {
  flex: 60%;
}

.filter-section .filter {
  flex: 40%;
}

.searchbox {
  width: 80%;
  height: 40px;
  border: 1px solid var(--primary__blue);
  border-radius: 5px;
  padding-left: 10px;
}

.filter-box {
  width: 50%;
  height: 40px;
  border: 1px solid var(--primary__blue);
  border-radius: 5px;
}

.job-list {
  width: 100%;
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}
