.register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  /* flex: 2; */
  max-width: 400px;
  /* height: 400px; */
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.377);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
}

.head {
  width: 100%;
  background: var(--primary__blue);
  color: var(--primary__white);
  height: 60px;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
}

.register-box-body {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-box-body ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

span.time {
  display: none;
}

li.time-label > span {
  content: "Account Generation Procesd";
}

#root
  > div
  > div.main
  > div
  > div
  > div.register-box-body
  > div
  > ul
  > li.time-label
  > span {
  display: none;
}

#root
  > div
  > div.main
  > div
  > div
  > div.register-box-body
  > div
  > ul
  > li.time-label:after {
  content: "Account Creation Process";
  background: red;
  color: var(--primary__white);
  padding: 5px 10px;
}

.register-form-control {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.377);
}

.register-form-control > input {
  flex: 80%;
  height: 40px;
  font-size: 16px;
  padding: 5px 15px;
  border: none;
  outline: none;
  background: none;
}

.register-form-control button.register-btn {
  flex: 20%;
  border: none;
  background: none;
  cursor: pointer;
  background: var(--primary__accept);
  color: var(--primary__white);
  border-radius: 0px 25px 25px 0px;
}
