<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' ws://localhost:8000">
  <meta charset="UTF-8">
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src 'self' ;"> -->
  <title>Generic Api Consumer</title>
</head>
<body>

<button id="list">List</button>
<button id="retrieve">Retrieve</button>
<button id="create">Create</button>
<button id="patch">Patch</button>
<button id="update">Update</button>
<button id="delete">Delete</button>

<pre id="response"></pre>

</body>

<script>
// Create a new WebSocket object
const ws = new WebSocket('ws://localhost:8000/ws/notifications/');
  

ws.onopen = function(event) {
  console.log('WebSocket connection established');
};

ws.onmessage = function(event) {
  const data = JSON.parse(event.data);
  console.log('Received data:', data);
  // Handle the data here
};

ws.onclose = function(event) {
  console.log('WebSocket connection closed:', event);
};
// // const ws = new WebSocket('ws://localhost:8080');

// // When the connection is opened
// ws.addEventListener('open', (event) => {
//   console.log('WebSocket connection opened!');
// });

// // When a message is received
// ws.onmessage = function (e) {
//       const data = JSON.parse(e.data);
//       document.querySelector('#chat-text').value += (data.message + ' sent by ' + data.username   + '\n') // add message to text box
//    }
   
// ws.addEventListener('message', (event) => {
//   console.log(`Received message: ${event.data}`);
// });

// // When an error occurs
// ws.addEventListener('error', (event) => {
//   console.error('WebSocket error:', event);
// });

// // When the connection is closed
// ws.addEventListener('close', (event) => {
//   console.log('WebSocket connection closed:', event);
// });

// Send a message
// ws.send(JSON.stringify({
//     action: "retrieve",
//     request_id: new Date().getTime(),
//     pk: 1,
// }))
  
  // // Example usage to send a notification message
  // const notification = {
  //   message: 'New message received'
  // };
  
  // const xhr = new XMLHttpRequest();
  // xhr.open('POST', 'notifications/');
  // xhr.setRequestHeader('Content-Type', 'application/json');
  // xhr.setRequestHeader('Authorization', 'Bearer <your JWT token>');
  // xhr.onload = function() {
  //   if (xhr.status === 200) {
  //     console.log(xhr.responseText);
  //   } else {
  //     console.error(xhr.statusText);
  //   }
  // };
  // xhr.onerror = function() {
  //   console.error('Error sending notification:', xhr.statusText);
  // };
  // xhr.send(JSON.stringify(notification));
  
  
  </script>
</html>